:root {
  --main-font: "Inter", sans-serif;
  --accent-font: "PressStart2P", fantasy;
  --card-text-weight: 400;
  --card-title-weight: 700;
  --content-width: clamp(23.4375rem, 17.634rem + 29.018vw, 43.75rem);
  --page-background: #fff;
  --accent-color: #000;
  --label-stroke: #fff;
  --contour-color: #000;
  --animation-fill-color: #f00;
  --button-text-color: #fff;
  --page-gradient:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
